body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #BFBFBF;
  color: #343a40;
  line-height: 1.6;
  overflow: auto;
}

header{
  background: #4400FF7D;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.about-me-section {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.image-container {
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #007bff;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-me-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #007bff;
}

.about-me-section p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #495057;
}

.about-me-section .visitor-message {
  font-style: italic;
  font-size: 1.1rem;
  color: #6c757d;
  margin-top: 20px;
}

