body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradient background for the entire page */
  color: #333;
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* #logo {
  width: 100px;
}

.navBar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.navItem {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
} */

main {
  padding: 20px;
}

/* Skills Section Background with Gradient */
.skills-section {
  padding: 30px;
  background: linear-gradient(135deg, #ffffff, #f4f6f8); /* Light gradient for the skills section */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skills-section h1 {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 30px;
}

/* Skill Item Gradient */
.skill-item {
  text-align: center;
  margin-bottom: 30px;
  background: linear-gradient(135deg, #ffffff, #e3e3e3); /* Gradient for skill items */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.skill-item p {
  font-size: 1.1rem;
  color: #333;
}

/* Add a hover effect to the skill items */
.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e3e3e3, #ffffff);
}

i{
  font-size: 3rem;
}